* {
  font-family: 'Open Sans', sans-serif;
}

p {
    //font-family: 'PT Serif', serif;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

#sub-title, #sub-title, #main-title {
  // font-family: 'Indie Flower', cursive;
}

.post-comments {
    h1, H1, h2, H2, h3, H3, h4, H4, h5, H5, h6, H6 {
      font-family: 'Open Sans', serif !important;
    }
}
