.post-comments {
    margin: 5px 10px 0 20px;

    .post-title {
        color: #000;
        display: block;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.2;
        padding: 20px 10px 0 10px;
        width: 100%;
    }
    .post-meta {
        padding-top: 5px;
        color: #888;
        display: inline-block;

        &.category {
            padding-left: 10px;
        }
    }

    .sub-title {
        padding: 0 10px 0 10px;
        margin: 0 0 10px 0;
        color: #3790ad;
        display: block;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.2;
        width: 100%;
        text-transform: uppercase;

        &.links {
            margin-top: 30px;
        }
    }

    &.fixed {
        top: 70px;
        left: 67%;
    }

    .placeholder-text {
        display: block;
        display: none;
        padding: 0 23px;
        color: #b3b3b3;
    }

    .source-link {
      word-break: break-word;
      padding: 0 10px;
      display: block;
      color: darken(#3790ad, 10%) !important;

      &:hover {
          color: darken(#3790ad, 20%) !important;
      }
    }

    .comment {
        margin: 8px;
        color: #000;
        word-wrap: break-word;
        position: relative;
        min-height: 39px;
        padding: 0px;
        background: #f3f3f3;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

        &:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 15px 15px 15px 0;
            border-color: transparent #f3f3f3;
            display: block;
            width: 0;
            z-index: 1;
            left: -7px;
            top: 5px;
        }

        &:empty {
          display: none;
        }

        li {
          background-color: transparent;
          padding: 10px 10px 10px 10px;
          margin: 0;
          line-height: 1.4;
          font-size: 1rem;
        }

        .md {
          padding: 0 !important;

          p, h1, H1, h2, H2, h3, H3, h4, H4, h5, H5, h6, H6  {
              padding: 10px 10px 10px 10px;
              margin: 0;
              line-height: 1.4;
              font-size: 1rem;

              a {
                color: #3790ad !important;

                &:hover {
                    color: darken(#3790ad, 10%) !important;
                }
              }
          }
        }
    }

    .psbattle-comment {
      img {
        padding: 10px;
      }
    }
}

@media (max-width: 767px) {
 .post-comments {
      margin: 20px 0 0 0;
  }
}
