/* Vendor */
/* Setup */
/* =======================================================================
## ++ Media Queries
========================================================================== */
/* 
    Used for media queries. 
    Add these mixins in your normal scss flow.
    
    Eg.
    .container{
        width:1024px;
        
        @include tablets{
            width:90%;
        }
    }
*/
/* =======================================================================
## ++ Unit transform
========================================================================== */
/*  
    Used for making containers have width in percentages. 
    Usage: define elemnt width in px and the width of parent elemnt in px. 
    eg. .block{width:cp(512px, 1024px)} this will result in .block{width:50%;}   
*/
/*  
    Used for making px values convert to rem values
    Usage: define font-size in px and it will convert to rems
    eg. font-size: rem(14px);
*/
* {
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3 {
  font-family: 'Oswald', sans-serif; }

.post-comments h1, .post-comments H1, .post-comments h2, .post-comments H2, .post-comments h3, .post-comments H3, .post-comments h4, .post-comments H4, .post-comments h5, .post-comments H5, .post-comments h6, .post-comments H6 {
  font-family: 'Open Sans', serif !important; }

/* =======================================================================
## ++ Globals
========================================================================== */
html {
  font-size: 14px; }

template {
  display: none; }

body {
  background-color: #efefef;
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

video {
  width: 100% !important;
  height: auto !important;
  max-height: 550px; }

* {
  box-sizing: border-box; }

/* float clearing for IE6 */
* html .clearfix {
  height: 1%;
  overflow: visible; }

/* float clearing for IE7 */
* + html .clearfix {
  min-height: 1%; }

/* float clearing for everyone else */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0; }

.clr {
  clear: both; }

.fixed {
  position: fixed !important;
  top: 0;
  right: 0; }

blockquote {
  margin: 0;
  font-weight: 600;
  font-style: italic; }

header {
  width: 100%;
  height: 163px;
  background: #158ace;
  background: #2f82ed;
  background: -moz-linear-gradient(45deg, #2f82ed 0%, #56cbf2 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #2f82ed), color-stop(100%, #56cbf2));
  background: -webkit-linear-gradient(45deg, #2f82ed 0%, #56cbf2 100%);
  background: -o-linear-gradient(45deg, #2f82ed 0%, #56cbf2 100%);
  background: -ms-linear-gradient(45deg, #2f82ed 0%, #56cbf2 100%);
  background: linear-gradient(45deg, #2f82ed 0%, #56cbf2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f82ed', endColorstr='#56cbf2', GradientType=1 );
  color: #FFF; }
  header .header-logo {
    max-width: 155px;
    margin-top: 26px; }
    header .header-logo #main-title {
      text-transform: uppercase;
      font-size: 80px;
      line-height: 1.2;
      margin: -5px 0 0 30px;
      display: inline-block; }
  header #sub-title {
    text-transform: uppercase;
    font-size: 33px;
    color: #3790ad;
    position: absolute;
    line-height: 1.2;
    margin: 16px 0 0 4px;
    display: inline-block; }
  header #sub-blurb {
    color: #2f2f2f;
    height: 40px;
    background-color: #f3f3f3;
    font-size: 14px;
    font-weight: normal;
    margin-top: -4px;
    padding: 10px 30px;
    border-bottom: 1px solid #dadada; }

@media (max-width: 767px) {
  header {
    height: 65px;
    border-bottom: 1px solid #CCC; }
    header .header-logo {
      max-width: 88px;
      margin-top: 9px; }
      header .header-logo #main-title {
        font-size: 2.4rem;
        margin: -5px 0 0 10px; }
    header #sub-title {
      font-size: 20px;
      line-height: normal;
      margin: 5px 0 0 3px; }
    header #sub-blurb {
      display: none; } }

/* Body */
body {
  background: #F5F5F5;
  height: 100%;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.container {
  position: absolute;
  top: 65px;
  right: 10px; }

.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #5380F7;
  min-width: 66px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer; }
  .btn:focus .dropdown, .btn:active .dropdown {
    transform: translate(0, 20px);
    opacity: 1;
    visibility: visible; }
  .btn .material-icons {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite; }
  .btn .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: #FFFFFF;
    width: 180%;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease; }
    .btn .dropdown:before {
      content: '';
      position: absolute;
      top: -6px;
      left: 20px;
      width: 0;
      height: 0;
      box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.05);
      border-top: 6px solid #FFFFFF;
      border-right: 6px solid #FFFFFF;
      border-bottom: 6px solid transparent;
      border-left: 6px solid transparent;
      transform: rotate(-45deg);
      mix-blend-mode: multiple; }
    .btn .dropdown li {
      z-index: 1;
      position: relative;
      background: #FFFFFF;
      padding: 0 20px;
      color: #666; }
      .btn .dropdown li span {
        font-size: 12px;
        text-transform: none;
        font-weight: 400;
        color: #999; }
      .btn .dropdown li.active {
        color: #5380F7; }
      .btn .dropdown li:first-child {
        border-radius: 4px 4px 0 0; }
      .btn .dropdown li:last-child {
        border-radius: 0 0 4px 4px; }
        .btn .dropdown li:last-child a {
          border-bottom: 0; }
    .btn .dropdown a {
      display: block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      padding: 16px 0;
      color: inherit;
      font-size: 10px;
      text-decoration: none; }

footer {
  position: relative;
  background-color: #484848;
  padding: 10px; }
  footer #scroll-msg {
    color: white;
    text-align: center; }
  footer #more-funny-button {
    display: none;
    background: #02AAB0;
    background: linear-gradient(to right, #02AAB0, #00CDAC);
    color: white;
    padding: 20px;
    display: block;
    text-align: center;
    font-size: 1.4rem;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
    width: 50%;
    max-width: 300px;
    margin: 10px auto;
    border-radius: 50px; }
    footer #more-funny-button:hover, footer #more-funny-button:active, footer #more-funny-button:focus {
      background: linear-gradient(to right, #01797e, #009a81);
      cursor: pointer;
      text-decoration: none; }

.social-container {
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; }
  .social-container .addthis_inline_follow_toolbox {
    text-align: center; }

/* =======================================================================
## ++ Homepage
========================================================================== */
main {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #00475f; }

#post-controls {
  background-color: #ececec;
  color: #212121;
  padding: 15px 15px 15px 17px;
  text-align: left;
  font-size: 1rem;
  display: flex;
  display: none;
  height: 49px; }
  #post-controls #refresh-button {
    display: none;
    margin-left: auto;
    color: #02aeaf;
    font-size: 24px; }
    #post-controls #refresh-button i {
      top: -8px;
      position: relative; }
  #post-controls span:nth-child(odd) {
    padding: 0px 4px 0 30px;
    color: #b9b9b9; }
  #post-controls span:nth-child(even) {
    color: #b9b9b9; }
  #post-controls span:nth-child(1) {
    padding: 0px 4px 0 0; }
  #post-controls .active {
    color: #02aeaf !important;
    font-weight: 600 !important; }

h2.secondary-heading {
  background-color: #ececec;
  color: #212121;
  padding: 15px;
  margin: 0;
  font-size: 1rem; }
  h2.secondary-heading.comments {
    display: none;
    background-color: #e2e2e2; }
    h2.secondary-heading.comments.fixed {
      left: 67%; }
  @media (max-width: 767px) {
    h2.secondary-heading.posts {
      display: none; } }

@media (max-width: 767px) {
  #at-image-sharing-tool {
    display: none !important; } }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.owl-carousel.carousel-desktop,
.no-carousel-desktop-content,
.desktop-post-comments {
  display: none; }

.owl-carousel.carousel-mobile {
  display: block; }

@media (min-width: 768px) {
  .owl-carousel.carousel-desktop,
  .no-carousel-desktop-content {
    display: block; }
  .owl-carousel.carousel-mobile {
    display: none; }
  .desktop-post-comments {
    display: block;
    max-width: 450px; }
  .owl-carousel .owl-item img {
    width: auto;
    max-height: 80vh; } }

#post-list {
  border: 0;
  width: 100%;
  background-color: white;
  padding: 5px 20px;
  margin: 0 auto; }
  #post-list li:nth-child(1) {
    padding-top: 10px !important; }
  #post-list li {
    margin: 0 0 0 0;
    background-color: #FFF;
    border-bottom: 1px solid rgba(202, 202, 202, 0.22);
    padding: 5px 0 5px 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch; }
    #post-list li .left:hover, #post-list li .left:focus, #post-list li .left:active, #post-list li .right:hover, #post-list li .right:focus, #post-list li .right:active {
      cursor: pointer; }
    #post-list li .left {
      position: relative;
      width: 140px;
      background-color: #FFF; }
      #post-list li .left .thumbnail {
        width: 100%;
        max-height: 140px;
        margin: 0 auto; }
        #post-list li .left .thumbnail.centered {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto; }
        #post-list li .left .thumbnail.image.no-preview {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto; }
        #post-list li .left .thumbnail.mp4.no-preview {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto; }
        #post-list li .left .thumbnail.youtube.no-preview {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto; }
      #post-list li .left .default-img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto; }
    #post-list li .right {
      width: calc(100% - 140px);
      padding: 10px 10px 10px 10px; }
      #post-list li .right .post-title {
        color: #000;
        display: block;
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 1.2;
        margin: 0 0 4px 0; }
      #post-list li .right .post-dot, #post-list li .right .post-relative-time, #post-list li .right .post-subreddit {
        color: #868686;
        font-family: "open sans", sans-serif;
        font-size: 0.9rem; }
      #post-list li .right .post-nsfw {
        background-color: red;
        border-radius: 4px;
        padding: 0 2px;
        color: white;
        margin-right: 2px;
        font-size: 0.9rem; }
      #post-list li .right .post-redditscore {
        color: #868686;
        font-family: "open sans", sans-serif;
        font-size: 0.7rem; }
      #post-list li .right:hover {
        background-color: rgba(0, 0, 0, 0.03); }
    #post-list li .full {
      display: flex;
      padding: 10px 0;
      width: 100%;
      background-color: #FFF;
      color: black; }
      #post-list li .full.photoshopbattles {
        display: block; }
        #post-list li .full.photoshopbattles .desktop-post-comments {
          display: none; }
      #post-list li .full img {
        max-width: 100%;
        display: block; }
      #post-list li .full .md {
        text-align: left;
        padding: 10px 10px 10px 10px;
        font-size: 1.2rem;
        line-height: 1.4; }
        #post-list li .full .md ul li {
          background-color: transparent;
          border: none; }
        #post-list li .full .md a {
          color: #3790ad; }
          #post-list li .full .md a:hover {
            color: #2b7086; }
    #post-list li .hide-full {
      display: none; }
    #post-list li.text .full {
      color: #000;
      padding-left: 140px;
      margin-right: 5px; }
      #post-list li.text .full .no-carousel-desktop-content {
        font-weight: 600; }
      #post-list li.text .full a {
        color: #3790ad; }
        #post-list li.text .full a:hover {
          color: #2b7086; }
    @media (max-width: 767px) {
      #post-list li.text .full {
        padding-left: 0; } }
  #post-list li .left {
    min-height: 73px; }
    #post-list li .left .thumbnail {
      display: block; }
  #post-list li .right {
    width: calc(100% - 140px); }

@media (max-width: 767px) {
  #post-list {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0; }
    #post-list li {
      padding: 5px 5px 5px 5px; }
      #post-list li .left {
        width: 135px; }
      #post-list li .right {
        width: calc(100% - 135px);
        padding: 5px 5px 5px 10px; }
        #post-list li .right .post-title {
          font-size: 1rem; }
        #post-list li .right .post-dot, #post-list li .right .post-relative-time, #post-list li .right .post-subreddit {
          font-size: 0.8rem; }
      #post-list li .full {
        padding: 1px 0; }
        #post-list li .full img {
          max-width: 100%; }
        #post-list li .full p {
          padding: 10px 10px 10px 10px; } }

.post-content-wrapper.psbattle .item img {
  margin: 0 auto; }

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 20px; }

@media (max-width: 767px) {
  .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px; } }

.post-comments {
  margin: 5px 10px 0 20px; }
  .post-comments .post-title {
    color: #000;
    display: block;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.2;
    padding: 20px 10px 0 10px;
    width: 100%; }
  .post-comments .post-meta {
    padding-top: 5px;
    color: #888;
    display: inline-block; }
    .post-comments .post-meta.category {
      padding-left: 10px; }
  .post-comments .sub-title {
    padding: 0 10px 0 10px;
    margin: 0 0 10px 0;
    color: #3790ad;
    display: block;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2;
    width: 100%;
    text-transform: uppercase; }
    .post-comments .sub-title.links {
      margin-top: 30px; }
  .post-comments.fixed {
    top: 70px;
    left: 67%; }
  .post-comments .placeholder-text {
    display: block;
    display: none;
    padding: 0 23px;
    color: #b3b3b3; }
  .post-comments .source-link {
    word-break: break-word;
    padding: 0 10px;
    display: block;
    color: #2b7086 !important; }
    .post-comments .source-link:hover {
      color: #1e5060 !important; }
  .post-comments .comment {
    margin: 8px;
    color: #000;
    word-wrap: break-word;
    position: relative;
    min-height: 39px;
    padding: 0px;
    background: #f3f3f3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
    .post-comments .comment:after {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 15px 15px 15px 0;
      border-color: transparent #f3f3f3;
      display: block;
      width: 0;
      z-index: 1;
      left: -7px;
      top: 5px; }
    .post-comments .comment:empty {
      display: none; }
    .post-comments .comment li {
      background-color: transparent;
      padding: 10px 10px 10px 10px;
      margin: 0;
      line-height: 1.4;
      font-size: 1rem; }
    .post-comments .comment .md {
      padding: 0 !important; }
      .post-comments .comment .md p, .post-comments .comment .md h1, .post-comments .comment .md H1, .post-comments .comment .md h2, .post-comments .comment .md H2, .post-comments .comment .md h3, .post-comments .comment .md H3, .post-comments .comment .md h4, .post-comments .comment .md H4, .post-comments .comment .md h5, .post-comments .comment .md H5, .post-comments .comment .md h6, .post-comments .comment .md H6 {
        padding: 10px 10px 10px 10px;
        margin: 0;
        line-height: 1.4;
        font-size: 1rem; }
        .post-comments .comment .md p a, .post-comments .comment .md h1 a, .post-comments .comment .md H1 a, .post-comments .comment .md h2 a, .post-comments .comment .md H2 a, .post-comments .comment .md h3 a, .post-comments .comment .md H3 a, .post-comments .comment .md h4 a, .post-comments .comment .md H4 a, .post-comments .comment .md h5 a, .post-comments .comment .md H5 a, .post-comments .comment .md h6 a, .post-comments .comment .md H6 a {
          color: #3790ad !important; }
          .post-comments .comment .md p a:hover, .post-comments .comment .md h1 a:hover, .post-comments .comment .md H1 a:hover, .post-comments .comment .md h2 a:hover, .post-comments .comment .md H2 a:hover, .post-comments .comment .md h3 a:hover, .post-comments .comment .md H3 a:hover, .post-comments .comment .md h4 a:hover, .post-comments .comment .md H4 a:hover, .post-comments .comment .md h5 a:hover, .post-comments .comment .md H5 a:hover, .post-comments .comment .md h6 a:hover, .post-comments .comment .md H6 a:hover {
            color: #2b7086 !important; }
  .post-comments .psbattle-comment img {
    padding: 10px; }

@media (max-width: 767px) {
  .post-comments {
    margin: 20px 0 0 0; } }
