.table-responsive {
  margin-bottom: 0; }

.table.cryptotable {
  margin: 0 auto; }

.table.cryptotable > tbody > tr > td {
  vertical-align: middle; }

.table.cryptotable th {
  text-align: center;
  vertical-align: bottom;
  height: 50px;
  font-size: 1.2rem; }

.table.cryptotable th span {
  font-size: 1rem;
  display: block;
  color: #CCC;
  font-weight: normal;
  height: 30px; }

.table.cryptotable img {
  max-width: 24px;
  margin-right: 10px; }

.table.cryptotable input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #dddddd;
  position: relative;
  top: 4px; }

.table.cryptotable input:focus {
  outline: none; }

.table.cryptotable .rightTableHeading {
  text-align: right !important;
  padding-right: 22px !important; }

.table.cryptotable > tbody > tr > td.bold {
  font-size: 1.4rem;
  text-align: right;
  padding-right: 10px; }

.table.cryptotable .sortByButton {
  font-size: 1.2rem;
  color: #BBB;
  background: transparent;
  border: 0; }

.table.cryptotable .capRank {
  width: 85px;
  text-align: center; }

.table.cryptotable th.idColumn {
  min-width: 100px;
  text-align: left; }

.table.cryptotable .cryptoNameFull {
  display: none; }

.table.cryptotable .cryptoSymbol {
  font-size: 1.2rem;
  color: #000; }

.table.cryptotable .priceBTCColumn, .table.cryptotable .priceUSDColumn {
  text-align: right;
  width: 80px; }

.table.cryptotable .priceBTCColumn .price, .table.cryptotable .priceUSDColumn .price {
  padding-right: 14px; }

@media (min-width: 768px) {
  .cryptotable th.nameColumn {
    min-width: 200px; } }

@media (min-width: 1020px) {
  .table.cryptotable .cryptoNameFull {
    display: inline; }
  .cryptoSymbol {
    font-size: 1.2rem;
    color: #999; }
  .cryptotable th.nameColumn {
    width: auto; } }

.cryptotable .percentage__changes {
  text-align: center; }

.cryptotable .priceUSDColumn, .priceBTCColumn {
  width: 80px; }

.cryptotable .priceUSDColumn input, .priceBTCColumn input {
  text-align: right; }

.table.cryptotable .cryptoPrice, .profitLoss {
  text-align: right; }

.table.cryptotable .volColumn, .table.cryptotable .profitLossColumn, .table.cryptotable .weightedVolColumn {
  text-align: right; }

.LeaderboardList {
  margin-top: 40px; }

.Portfolio {
  margin-top: 40px; }

.yourCoinNumber input, .boughtAt input {
  width: 90px;
  text-align: right; }

.formatted_price_usd, .yourCoinUsd, .yourCoinPercentage, .yourCoinNumber, .boughtAt {
  text-align: center; }

.addCoinToPortfolioColumn, .removeCoinFromPortfolioColumn, .capRank {
  width: 60px;
  text-align: right; }

.addCoinToPortfolio, .removeCoinFromPortfolio {
  font-size: 2.2rem;
  color: #7398c1;
  background: transparent;
  border: 0;
  height: 30px; }

.customAddTd, .customAddTr {
  border: none !important;
  background-color: transparent !important; }

.fullViewButton {
  float: right; }

.fullView .removeCoinFromPortfolioColumn,
.fullView .addCoinToPortfolioColumn,
.fullView .capColumn {
  display: none; }
