//Generic 'crypto' tables
.table-responsive {
  margin-bottom: 0;
}

.table.cryptotable {
    margin: 0 auto;

    >tbody>tr>td {
      vertical-align: middle;
    }

    th {
        text-align: center;
        vertical-align: bottom;
        height: 50px;
        font-size: 1.2rem;
    }

    th span {
        font-size: 1rem;
        display: block;
        color: #CCC;
        font-weight: normal;
        height: 30px;
    }

    img {
        max-width: 24px;
        margin-right: 10px;
    }

    input {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #dddddd;
      position: relative;
      top: 4px;
      &:focus {
        outline: none;
      }
    }

    .rightTableHeading {
      text-align: right !important;
      padding-right: 22px !important;
    }

    >tbody>tr>td.bold {
      font-size: 1.4rem;
      text-align: right;
      padding-right: 10px;
    }

    .sortByButton {
      font-size: 1.2rem;
      color: #BBB;
      background: transparent;
      border: 0;
    }

    .capRank {
      width: 85px;
      text-align: center;
    }

    th.idColumn {
        min-width: 100px;
        text-align: left;
    }

    .cryptoNameFull {
      display: none;
    }

    .cryptoSymbol {
      font-size: 1.2rem;
      color: #000;
    }

    .priceBTCColumn, .priceUSDColumn {
      text-align: right;
      width: 80px;

      .price {
        padding-right: 14px;
      }
    }
}

@media(min-width: 768px){
  .cryptotable th.nameColumn {
      min-width: 200px;
  }
}

@media(min-width: 1020px) {
.table.cryptotable .cryptoNameFull {
    display: inline;
  }

  .cryptoSymbol {
    font-size: 1.2rem;
    color: #999;
  }

  .cryptotable th.nameColumn {
      width: auto;
  }
}

// Percentage styling
.cryptotable .percentage__changes {
    text-align: center;
}

// Price styling
.cryptotable .priceUSDColumn, .priceBTCColumn {
  width: 80px;

  input {
    text-align: right;
  }
}

.table.cryptotable .cryptoPrice, .profitLoss {
    text-align: right;
}

.table.cryptotable {
  .volColumn, .profitLossColumn, .weightedVolColumn {
    text-align: right;
  }
}

// Coinlist Specific styling
.LeaderboardList {
  margin-top: 40px;
}

// Portfolio Specific styling
.Portfolio {
  margin-top: 40px;
}

.yourCoinNumber, .boughtAt {
  input {
    width: 90px;
    text-align: right;
  }
}

.formatted_price_usd, .yourCoinUsd, .yourCoinPercentage, .yourCoinNumber, .boughtAt {
  text-align: center;
}

// Custom Buttons
.addCoinToPortfolioColumn, .removeCoinFromPortfolioColumn, .capRank {
  width: 60px;
  text-align: right;
}

.addCoinToPortfolio, .removeCoinFromPortfolio {
  font-size: 2.2rem;
  color: #7398c1;
  background: transparent;
  border: 0;
  height: 30px;
}

.customAddTd, .customAddTr {
  border: none !important;
  background-color: transparent !important;
}

.fullViewButton {
  float: right;
}

.fullView .removeCoinFromPortfolioColumn,
.fullView .addCoinToPortfolioColumn,
.fullView .capColumn {
  display: none;
}

// Code for horizontal background visualisation
// background: -webkit-linear-gradient(left, rgba(84, 193, 245, 0.32) 20%, transparent 20%);
