
@media(min-width: 1020px) {
  .nameColumn {
      width: auto;
  }
}

// Coinlist Specific styling

.coinlistHeader {
  width: 100%;
  min-height: 40px;
  background: #ededed;
  color: #394050;
  display: flex;
  padding-left: 15px;
  font-family: signika;
}

@media(min-width: 768px) {
  .Portfolio {
    .portfolioHeader {
      padding-left: 35px;
    }
  }

  .coinlistHeader {
    padding-left: 25px;
    justify-content: space-between;
    padding-right: 25px;
  }
}

.marketDataContainer {
  padding-top: 7px;
  .marketCap, .marketVolume, .btcDominance {
    display: block;
    padding: 3px;
  }
}

@media(min-width: 768px) {
  .marketDataContainer {
    .marketCap, .marketVolume, .btcDominance {
      display: inline-block;
    }
  }
}

.openChartButton {
  padding: 0 !important;
  margin: 0 !important;
  width: auto !important;
  height: auto !important;
  display: none !important;
}
