//Generic 'crypto' tables
.table-responsive {
  margin-bottom: 0;
  border: none !important;
}

.table.cryptotable {
    margin: 0 auto;

    >tbody>tr>td {
      vertical-align: middle;
    }

    >thead>tr>th {
      border-bottom: none;
      background-color: #efefef;
      &:empty {
        background-color: #fff;
      }
    }

    th {
        text-align: center;
        vertical-align: bottom;
        height: 40px;
        font-size: 1.2rem;
        padding-right: 0;
    }

    >tbody>tr:nth-of-type(odd) {
      background-color: #f5f5f5;
    }

    >tbody>tr>td {
      border-top: 0;
    }

    th span {
        font-size: 1rem;
        display: block;
        color: #CCC;
        font-weight: normal;
        height: 30px;
    }

    img {
        max-width: 24px;
        margin-right: 10px;
    }

    input {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #dddddd;
      position: relative;
      text-align:right;
      &:focus {
        outline: none;
        border-bottom: 2px solid #7398c1;
      }
    }

    .rightTableHeading {
      text-align: right !important;
      padding-right: 22px !important;
    }

    >tbody>tr>td.bold {
      font-size: 1.4rem;
      text-align: right;
      padding-right: 10px;
    }

    .sortByButton {
      font-size: 1.2rem;
      color: black;
      background: transparent;
      border: 0;

      i {
        color: #BBB;
      }

      &:hover {
        i {
          color: #7398c1;
        }
      }
    }

    th.idColumn {
        min-width: 100px;
        text-align: left;
    }

    .cryptoNameFull {
      position: relative;
      display: inline;
      font-weight: bold;
      top: 2px;
    }

    .cryptoSymbol {
      position: relative;
      font-size: 1.2rem;
      top: 2px;
      font-weight: normal;
      color: #999;
    }

    .USDHoldingColumn, .percentageHoldingColumn, .marketCapColumn {
      text-align: right;
    }

    .boughtAtColumn, .coinCountColumn {
      text-align: right;

      input {
        width: 100%;
      }
    }

    .coinCountColumn {
      min-width: 80px;
    }

    .boughtAtColumn {
      min-width: 120px;
      max-width: 140px;
    }

    .profitLossColumn {
      min-width: 92px;
    }

    .oneHourColumn, .twentyFourHoursColumn, .sevenDaysColumn {
      min-width: 90px;
    }

    .flagColumn {
      text-align: center;
    }

    .capColumn {
      text-align: center;
      width: 55px;
    }

    .priceBTCColumn, .priceUSDColumn {
      text-align: right;
      width: 80px;

      .price {
        padding-right: 14px;
      }
    }
}

.cryptotable th.nameColumn {
    text-align: left;
}

.cryptotable .coinCountColumn {
    text-align: right;
}

@media(min-width: 1020px) {
  .cryptotable th.nameColumn {
      width: auto;
  }
}

// Percentage styling
.cryptotable .percentage__changes {
    text-align: center;
}

// Price styling
.cryptotable .priceUSDColumn, .priceBTCColumn {
  width: 80px;

  input {
    text-align: right;
  }
}

.table.cryptotable .cryptoPrice, .profitLoss {
    text-align: right;
}

.table.cryptotable {
  .volColumn, .profitLossColumn, .weightedVolColumn {
    text-align: right;
  }
}

.table.cryptotable .nameColumn {
  min-width: 180px;

  input {
    font-weight: bold;
    text-align: left;
    width: calc(100% - 40px);
  }
}

// Coinlist Specific styling
.LeaderboardList {
  margin-top: 0;
}

.coinList {
  .priceUSDColumn {
    font-weight: bold;
  }
}

// Portfolio Specific styling
.Portfolio {
  .portfolioHeader {
    width: 100%;
    height: 40px;
    background: #b1c2d0;
    color: #394050;
    display: flex;
    line-height: 40px;
    padding-left: 15px;
    font-weight: bold;

    .closeTable {
      align-self: flex-end;
    }
  }
}

.coinlistHeader {
  width: 100%;
  height: 40px;
  background: #b1c2d0;
  color: #394050;
  display: flex;
  line-height: 40px;
  padding-left: 15px;
  font-weight: bold;

  .closeTable {
    align-self: flex-end;
    display: inline-block;
  }
}

.yourCoinNumber, .boughtAt {
  input {
    width: 90px;
    text-align: right;
  }
}

.formatted_price_usd, .yourCoinUsd, .yourCoinPercentage, .yourCoinNumber, .boughtAt {
  text-align: center;
}

// Custom Buttons
.addCoinToPortfolioColumn, .removeCoinFromPortfolioColumn, .capRank {
  width: 60px;
  text-align: right;
}

.addCoinToPortfolio, .removeCoinFromPortfolio {
  color: rgba(57, 64, 80, 0.8);
  background: transparent;
  border: 0;
  height: 30px;

  i {
    font-size: 2.2rem;
    font-weight: normal;
    padding-right: 10px;
  }

  &:hover {
    color: rgb(57, 64, 80);
  }
}

.customAddTd, .customAddTr {
  border: none !important;
  background-color: transparent !important;
}

.fullViewButton {
  position: absolute;
  display: inline;
  display: none;
}

@media(min-width: 768px) {
  .fullViewButton {
    position: absolute;
    display: none;
  }
}

.fullView .removeCoinFromPortfolioColumn,
.fullView .addCoinToPortfolioColumn,
.fullView .capColumn {
  display: none;
}

#portfolioTable {
  .volColumn, .weightedVolColumn {
    display: none;
  }
}

.Portfolio {
  .customAddTr {
    height: 50px;
  }

  .addCoinToPortfolioColumn.customAddTd {
    white-space: nowrap;
    position: absolute;
    left: 5px;
  }

  .addCoinToPortfolio {
    font-size: 1.4rem;
    font-weight: bold;

    i {
      &:before {
        position: relative;
        top: 3px;
      }
    }
    &:hover {
      color: #7398c1;
    }
  }
}


// Code for horizontal background visualisation
// background: -webkit-linear-gradient(left, rgba(84, 193, 245, 0.32) 20%, transparent 20%);
