.cryptotable {
  max-width: 1200px;
  margin: 10px auto; }

.cryptotable td {
  vertical-align: middle; }

.cryptotable th {
  text-align: center;
  vertical-align: top;
  height: 50px; }

.cryptotable th span {
  font-size: 1rem;
  display: block;
  color: #CCC;
  font-weight: normal;
  height: 30px; }

.cryptotable img {
  max-width: 24px;
  margin-right: 10px; }

.cryptotable .cryptoPrice {
  text-align: right; }

.cryptotable .percentage__changes {
  text-align: center; }
