.totalTable {
  text-align: center;
  border: none;

  >thead>tr>th {
    border: none;
  }

  .headings th {
    background-color: #f5f5f5;
    text-align: center;
  }

  .portfolioTotals {
    text-align: center;
    font-weight: bold;
  }

  >tbody>tr>td, >tbody>tr>th, >tfoot>tr>td, >tfoot>tr>th, >thead>tr>td, >thead>tr>th {
    width: 16.67%;
    border-top: none;
  }
}

.changeValue {
  font-weight: bold;
}

.totalTable.fullTable {
  display: none;
}

.totalTablePercentagesOnly, .totalTableTotalsOnly {
  display: table;

  >tbody>tr>td, >tbody>tr>th, >tfoot>tr>td, >tfoot>tr>th, >thead>tr>td, >thead>tr>th {
    width: 33.33%;
    border-top: none;
  }
}

@media(min-width: 768px) {
  .totalTable.fullTable {
    display: table;
  }

  .totalTablePercentagesOnly, .totalTableTotalsOnly {
    display: none;
  }
}
