.totalTable {
  text-align: center;
  border-top: 2px solid #ECECEC;
  border-bottom: 2px solid #ECECEC; }

.totalTable > thead > tr > th {
  border: none; }

.totalTable .headings th {
  background-color: #f9f9f9;
  text-align: center; }

.totalTable .portfolioTotals {
  text-align: center;
  font-weight: bold; }

.changeValue {
  font-weight: bold; }

.totalTable {
  display: none; }

.totalTablePercentages {
  display: table; }

@media (min-width: 768px) {
  .totalTable {
    display: table; }
  .totalTablePercentages {
    display: none; } }
