.totalTable {
  text-align: center;
  margin: 0 15px 0 15px;
  border: 2px solid #ECECEC;

  >thead>tr>th {
    border: none;
  }

  .headings th {
    text-align: center;
  }

  .portfolioTotals {
    text-align: center;
  }
}

@media(min-width: 1020px) {
  .totalTable {
    max-width: 600px;
    float: right;
  }
}
