.totalTable {
  text-align: center;
  border: 2px solid #444;

  >thead>tr>th {
    border: none;
  }

  .headings th {
    text-align: center;
  }

  .portfolioTotals {
    text-align: center;
  }
}

@media(min-width: 1020px) {

  .totalTable {
    max-width: 600px;
    float: right;
    border: 2px solid #444;
  }

}
