header {
  margin: 0 auto;
  height: 65px;
  position: relative;
  padding: 0;
  font-family: 'Signika', sans-serif;
  text-align: left;
  background-color: rgb(57, 64, 80);

  h1 {
    display: none;
    position: relative;
    top: -35px;
    left: 79px;
    font-size: 16px;
    line-height: 1;
    padding: 0;
    text-transform: uppercase;
    color: #fff;
  }
}

@media(min-width: 768px){
  header {
    height: 75px;
    padding: 0;

    h1 {
      display: inline;
      font-size: 16px;
      top: -17px;
      left: 70px;
    }
  }
}

.primary-nav {
    height: 60px;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    position: relative;
    top: 5px;
    padding: 0;
    margin: 0;
}

.primary-nav {
    li {
      display: block;
      position: relative;
      min-width: 50px;
      font-size: 1.2rem;
      top: 10px;
      padding: 0;
      text-align: center;
      transition: all 0.3s;

      a {
        transition: all 0.3s;
        display: block;
        color: #fff;

        i {
          color: white;
          display: block;
          font-size: 2.2rem;
          padding-bottom: 5px;
          cursor: pointer;
          text-decoration: none;

          &:hover {
            text-decoration: none;
            i {
              color: white;
            }
          }
          &:focus {
            text-decoration: none;
          }
        }

        &:hover {
          text-decoration: none;
          cursor: pointer;
          i {
            color: white;
          }
        }
        &:focus {
          text-decoration: none;
        }
      }
    }
}

@media(min-width: 768px) {
  .primary-nav {
    top: 15px;
    margin: 0 20px 0 10px;

    li {
      min-width: 70px;
      font-size: 1.6rem;
      padding: 0px 10px 0 10px;
      top: 0;

      a {
        color: #fff;

        i {
          color: white;
          font-size: 3rem;
          padding-bottom: 5px;

          &:hover {
            i {
              color: #337ab7;
            }
          }
        }

        &:hover {
          i {
            color: #337ab7;
          }
        }
      }
    }
  }
}

.refresh {
  padding: 0;
  width: 65px;
}

.refresh.loading {
  i {
      animation: App-logo-spin infinite 2s linear;
      color: #337ab7 !important;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.left {
    margin-right: auto;
}

.logo-container {
  position: relative;
  left: 0;
  padding: 5px;

  .edge-logo {
    max-width: 40px;
    left: 0;
    top: -5px;
    display: inline-block;
    position: relative;
  }

}

@media(min-width: 768px) {
  .logo-container {
    left: -20px;
    width: 115px;
    text-align: center;
    padding: 5px;

    .edge-logo {
      top: 0;
      max-width: 45px;
    }
  }
}
