.primary-nav {
    position: relative;
    top: -10px;
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: flex-end;

    li {
      position: relative;
      top: 0;
      padding: 0px 10px;
      color: black;
      text-align: center;

      a {
        color: black;
        transition: all 0.3s;
        display: block;

        i {
          display: block;
          font-size: 3rem;
          padding-bottom: 5px;

          &:hover, &:focus {
            color: #337ab7;
            text-decoration: none;
          }
        }

        &:hover, &:focus {
          color: #337ab7;
          text-decoration: none;
        }
      }
      i {
        display: block;
        font-size: 3rem;
        padding-bottom: 5px;
      }
    }

    .logo-container {
      position: relative;
      left: -32px;
      padding: 0;
      top: 5px;
    }
}

.left {
    margin-right:auto;
}

.logo-container {
  width: 115px;
  text-align: center;
  padding: 5px;

  .edge-logo {
    max-width: 40px;
    left: 0;
    top: 0;
    display: inline-block;
    position: relative;
  }

}

@media(min-width: 1020px) {
  .logo-container {
    left: auto;
    width: 115px;
    text-align: center;
    padding: 5px;
  }
}

header {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  height: 50px;
  position: relative;
  left: 0;
  top: 0;
  color: #FFF;
  font-family: 'Signika', sans-serif;
  text-align: left;
  background-color: #fff;
  border-bottom: 1px solid #DDD;

  h1 {
    position: relative;
    top: -17px;
    display: inline;
    left: 71px;
    font-size: 19px;
    line-height: 1;
    padding: 0;
    text-transform: uppercase;
    color: #000;
  }
}

@media(min-width: 1020px) {

}
